@import "../../assets/styles/core";

.features{
    .features__item{
        border-left: 1px solid rgba(8, 32, 50, 0.1);
        width: 250px;
        height: fit-content;
        background-color: inherit;
        padding: 10px 0px 10px 20px;
        .features__title{
            font-weight: 600;
            font-size: 16px;
            text-transform: capitalize;
            font-family: "Neue Helvetica";
            color: $text-color-one
        }

        .features__desc{           
            font-family: "Neue Helvetica";
            color: $text-color-two;
            font-weight: 400;
            margin-top: 10px;
        }
    }
}