
//text colors
$text-color-one : rgba(8, 32, 50, 1);
$text-color-two : rgba(8, 32, 50, 0.6);
$text-color-three: rgba(234, 95, 102, 1);
$text-color-four: rgba(255, 205, 82, 1);
$text-color-five: rgba(160, 197, 83, 1);
$text-color-six: rgba(44, 53, 66, 0.5);
$text-color-seven: rgba(255, 255, 255, 1);


//button color
$btn-color-one: #05A2B5;

//background-colors
$background-color-one: #ffffff;
$background-color-two: rgba(234, 95, 102, 0.07);
$background-color-three: rgba(160, 197, 83, 0.07);
$background-color-four: rgba(255, 205, 82, 0.07);
$background-color-five: rgba(5, 162, 181, 1);
$background-color-six: rgba(247, 248, 248, 1);
$background-color-seven: rgba(248, 247, 251, 1);

